{% extends 'base.html.twig' %}

{% block title %}albums index{% endblock %}

{% block body %}
    <h1>Albums</h1>

    <table class="table">
        <thead>
        <tr>

            <th>Title</th>
            <th>Actions</th>
            <th> Image </th>
        </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>

                <td>{{ album.title }}</td>

                <td>
                    <a href="{{ path('albums_show', {'id': album.id}) }}">show</a>
                    <a href="{{ path('albums_edit', {'id': album.id}) }}">edit</a>
                </td>
                <td>
                    {% for image in album.images %}
                        <img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image" width="150">
                    {% endfor %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('albums_new') }}" style="text-align: center" >Create new</a>
{% endblock %}