{{ form_start(form) }}
    {{ form_widget(form) }}

    {# Vérifier si la route est "images_edit" on affiche les images #}
    {% if app.request.attributes.get('_route') == 'images_edit' %}
        <h2>Images</h2>

        {% if image.user.id == app.user.id %}
            <div>
                <img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image" width="150">

            </div>
        {% endif %}

    {% endif %}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}